
        <link rel="stylesheet" href="/css/user_profile.css">

    
        <h1>User Profile</h1>
<<<<<<< HEAD
        <p><%= user.name %></p>
        <p><%= user.email%></p>
=======
        <h1>Name:<%=user.name%></h1>
        <h1>Email:<%=user.email %></h1>

        <a href="/users/sign-out">Sign Out</a>
>>>>>>> be0665d12de5978af87cfa17c81ecb70a10f822c
